$font-size-root: 16px;

$body-font-family: 'Roboto', sans-serif;

$headings: (
        'display-1': (
                'size': 3.125rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 700
        ),
        'display-2': (
                'size': 2.1875rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 700
        ),
        'display-3': (
                'size': 1.875rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 500
        ),
        'h1': (
                'size': 1.625rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 300
        ),
        'h2': (
                'size': 1.375rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 400
        ),
        'h3': (
                'size': 1.25rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 500
        ),
        'h4': (
                'size': 1.125rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 400
        ),
        'h5': (
                'size': 1rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 400
        ),
        'h6': (
                'size': 0.875rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 700
        ),
        'subtitle-1': (
                'size': 0.875rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 500
        ),
        'subtitle-2': (
                'size': 0.8125rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 500
        ),
        'body-1': (
                'size': 0.875rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 400
        ),
        'body-2': (
                'size': 0.8125rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 400
        ),
        'caption': (
                'size': 0.75rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 400
        ),
        'button': (
                'size': 0.8125rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 500
        ),
        'overline': (
                'size': 0.75rem,
                'letter-spacing': 0,
                'line-height': 1.5,
                'weight': 400
        )
);

$btn-border-radius: 3px;

$btn-font-sizes: (
        'small': 11px,
        'default': 13px,
        'large': 15px
);

$btn-sizes: (
        'small': 26,
        'default': 36,
        'large': 46
);

$btn-font-weight: 500;
$btn-letter-spacing: 0;
$btn-text-transform: none;

$input-font-size: 13px;
$input-max-height: 26px;
$border-radius-root: 3px;
$text-field-border-radius: 3px;
$text-field-filled-full-width-outlined-single-line-slot-min-height: 36px;
$text-field-outlined-dense-label-position-x: 8px;
$text-field-outlined-fieldset-border: 1px solid #A7ADAF;

$text-field-filled-full-width-outlined-slot-min-height: 46px;
$text-field-outlined-label-position-x: 12px;
$text-field-enclosed-prepend-append-margin-top: 10px;
$text-field-enclosed-details-padding: 0 12px;
$select-outlined-selections-padding-top: 6px;

$input-icon-min-width: 12px;
$input-icon-width: 12px;
$list-item-action-icon-margin: 16px;
$list-item-padding: 0 10px;
$icon-size: 18px;
$icon-size-dense: 14px;

$material-light: (
        'background': var(--sr-bg-grey),
        'text-fields': (
                'filled': #D7DBDD,
                'filled-hover': #A7ADAF,
                'outlined': #D7DBDD,
                'outlined-disabled': #EDF1F2,
                'outlined-hover': #A7ADAF
        ),
        'selection-controls': (
                'track': (
                        'inactive': var(--sr-light-grey),
                        'disabled': var(--sr-light-grey)
                )
        ),
        'text': (
                'primary': var(--sr-black),
                'secondary': var(--sr-dark-grey)
        )
);

$tooltip-border-radius: 3px;
$tooltip-font-size: 13px;
$tooltip-padding: 3px 10px;
$tooltip-background-color: var(--sr-link-grey);
$tooltip-text-color: var(--sr-light-grey);

$list-item-title-font-size: 13px;
$list-item-min-height: 36px;
$list-item-content-padding: 6px 8px;
$list-dense-min-height: 36px;
$list-dense-content-padding: 4px 6px;

$data-table-dense-header-height: 38px;
$data-table-regular-header-height: 50px;
$data-table-expanded-content-box-shadow: none;
$data-table-regular-header-font-size: 0.75rem;
$data-table-regular-row-font-size: 0.8125rem;
$data-table-regular-row-height: 70px;

$pagination-item-font-size: 13px;
$pagination-navigation-width: 45px;

$breadcrumbs-item-font-size: 12px;

$list-padding: 5px;

$timeline-divider-center: 18%;
$timeline-dot-large-size: 40px;
$timeline-dot-small-size: 20px;
$timeline-inner-dot-small-size: 16px;

$chip-padding: 0 25px;
$icon-sizes: (
        'x-small': (
                'font-size': 10,
                'height': 16
        ),
        'small': (
                'font-size': 11,
                'height': 26
        ),
        'default': (
                'font-size': 14,
                'height': 32
        ),
        'large': (
                'font-size': 16,
                'height': 54
        ),
        'x-large': (
                'font-size': 18,
                'height': 66
        )
);

$card-text-font-size: 14px;
$card-text-font-weight: 400;
$card-subtitle-padding: 30px;
$card-title-adjacent-sibling-subtitle-margin-top: -30px;
$card-title-font-size: 20px;
$card-title-font-weight: 500;
$card-title-line-height: 1.5;
$avatar-border-radius: 3px;